<table>
    <tr>
        <td><a href="{{path ('fos_user_profile_show')}}">Mes informations</a></td>
    </tr>
    <tr>
        <td><a href="{{path ('fos_user_profile_edit')}}">Editer mes informations</a></td>
    </tr>
    <tr>
        <td><a href="{{path ('fos_user_change_password')}}">Changer mon mot de passe</a></td>
    </tr>
    <tr>
        <td><a href="{{path ('fos_user_security_logout')}}">Mes commandes</a></td>
    </tr>
    
    <tr>
        <td><a href="{{path ('fos_user_security_logout')}}">Mes factures</a></td>
    </tr>
    
    <tr>
        <td><a href="{{path ('fos_user_security_logout')}}">Deconnection</a></td>
    </tr>
</table>